<!DOCTYPE html>
<html lang="English">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, inital-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <h1>Welcome to the Weather App</h1>
    <form method="post">
        <input type="text" name="city" placeholder="Enter City" required>
        <button type="Enter">Enter</button>
    </form>
    
    {% if weather %}
        <h2>Current Weather in {{ weather.name }}:</h2>
        <p>Temperature: {{ current_temp }}°C</p>
        <p>Condition: {{ condition }}</p>
        <p>Clouds: {{ clouds }}%</p>
        <p>Chance of Rainfall: {{ rainfall }} mm</p>
        <p>Highest Temperature Today: {{ high_temp }}°C at {{ high_temp_time }}</p>
        <p>Lowest Temperature Today: {{ low_temp }}°C at {{ low_temp_time }}</p>

        <h2>5-Day Forecast:</h2>
        <ul>
            {% for day in forecast %}
                <li>
                    <strong>{{ day.date }}</strong>: 
                    Temp: {{ day.temp }}°C, 
                    Condition: {{ day.condition }}, 
                    Rainfall: {{ day.rainfall }} mm
                </li>
            {% endfor %}
        </ul>
    {% elif error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    
</body>
</html>