<!DOCTYPE html>
<html lang="English">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script>
        function getLocationAndSubmit() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    document.getElementById('lat').value = position.coords.latitude;
                    document.getElementById('lon').value = position.coords.longitude;
                    document.getElementById('locationForm').submit();
                }, function(error) {
                    alert("Geolocation failed: " + error.message);
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Weather App</h1>
        <form id="locationForm" method="post">
            <input type="text" name="city" placeholder="Enter City">
            <input type="hidden" id="lat" name="lat">
            <input type="hidden" id="lon" name="lon">
            <button type="submit">Enter</button>
        </form>
        <button class="location-button" onclick="getLocationAndSubmit()">Use My Location</button>

        {% if weather %}
            <div class="weather-info">
                <h2>Current Weather in {{ weather.name }}:</h2>
                <p>Temperature: {{ currentTemp }}°C</p>
                <p>Condition: {{ weatherCondition }}</p>
                <p>Chance of Rainfall: {{ rainfallAmount }}</p>
                <p>Highest Temperature in Forecast: {{ highTemp }}°C</p>
                <p>Lowest Temperature in Forecast: {{ lowTemp }}°C</p>
            </div>

            <div class="forecast-info">
                <h2>Weather Forecast For the Next 5 Days:</h2>
                <ul>
                    {% for day in forecastSummary %}
                        <li>
                            {{ day.date }}: 
                            High Temp: {{ day.highTemp }}°C / 
                            Low Temp: {{ day.lowTemp }}°C, 
                            Chance of Rainfall overall on that day: {{ day.rainChance }}%
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% elif error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
